<div class="container">
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                  <h2>User info</h2>

                  <div class="border-top" style="padding10px;">name</div>
                  <div class="border-top" style="padding10px;">introduction</div>
                </div>

                <div class="w-100"></div>

                <div class="col-xs-12">
                  <h2>New book</h2>
                  <%= form_with model: @book, url: user_path, id: 'new_book', class: 'new_book', local: true do |f| %>
                    <div class="field">
                      <%= f.label :title %><br />
                      <%= f.text_field :title, autofocus: true %>
                    </div>
                    <div class="field">
                      <%= f.label :opinion %><br />
                      <%= f.text_area :opinion, autofocus: true %>
                    </div>
                    <div class="actions"style="color:green;">
                      <%= f.submit "Create Book" %>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
          <h2 class="border-bottom" style="padding10px;">Books</h2>
          <div class="border-bottom" style="padding10px;">Title	Opinion</div>
        </div>
    </div>
</div>



