<div class="mx-auto" style="width: 200px;">
  <% if @book.errors.any? %>
        <h2 class="text-danger">
          <%= @book.errors.count %>error prohibited this obj from being saved:
        </h2>
        <ul class="text-danger">
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
  <h2>Editing Book</h2>
  <%= form_with model:@book, local:true do |f| %>
    <label for="title">Title</label><br>
    <%= f.text_field :title, autofocus: true, id:"title" %><br>
    <label for="body">Opinion</label><br>
    <%= f.text_area :body, autofocus: true, id:"body" %><br>

    <%= f.submit "Update Book", class: "btn btn-secondary" %><br>

    <%= link_to "Show", book_path(@book.id) %>|
    <%= link_to "Back", books_path %>


  <% end %>
  </div>
