<!DOCTYPE html>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <% if user_signed_in? %>
      <div class="container-fluid">
        <a href="#" class="navbar-brand mr-auto"><%= link_to "Bookers", root_path %></a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navmenu1"
            aria-controls="navmenu1"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#"><%= link_to user_path(current_user.id) do %>
              <i class="fas fa-home"></i>Home</a>
            <% end %>
            <a class="nav-item nav-link" href="#"><%= link_to root_path do %>
              <i class="fas fa-link"></i>Users</a>
            <% end %>
            <a class="nav-item nav-link" href="#"><%= link_to root_path do %>
              <i class="fas fa-book"></i>Books</a>
            <% end %>
            <a class="nav-item nav-link" href="#"><%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>logout</a>
            <% end %>
          </div>
        </div>
      </div>


    <% else %>
      <div class="container-fluid">
        <a href="#" class="navbar-brand mr-auto"><%= link_to "Bookers", root_path %></a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navmenu1"
            aria-controls="navmenu1"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#"><%= link_to root_path do %>
              <i class="fas fa-home"></i>Home</a>
            <% end %>
            <a class="nav-item nav-link" href="#"><%= link_to home_about_path do %>
              <i class="fas fa-link"></i>About</a>
            <% end %>
            <a class="nav-item nav-link" href="#"><%= link_to new_user_session_path do %>
              <i class="fas fa-user-plus"></i>sign up</a>
            <% end %>
            <a class="nav-item nav-link" href="#"><%= link_to new_user_registration_path do %>
              <i class="fas fa-sign-in-alt"></i>login</a>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </nav>
    <%= yield %>
</html>
